################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

# Временные файлы VS
.vs/

# Скомпилированные файлы
bin/
obj/
build/

# Пакеты (для старых проектов)
packages/

# Файлы пользователей
*.user
*.suo